body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.header{
    background: #333;
    color: #FFF;
    display: flex;
    min-height: 60px;
    align-items: center;
}
.header > div{
    padding: 5px 15px;
}
.header .icon img{
    width: 44px;
}
.header .icon.active{
    border-bottom: 5px solid #0074D9;
}

.avatar{
    width: 64px;
    vertical-align: middle;
    margin-right: 15px;
}

a{
    text-decoration: none;
}
.flex{
    display: flex;
}

.list-item{
    padding: 15px;
    cursor: pointer;
    background: #EEE;
    color: #000;
    text-decoration: none;
}
.list-item:nth-child(odd){
    background: #DDD;
}
.list-item:hover{
    background: #eaeaea;
}

.heading{
    padding: 15px;
    font-size: 17px;
    border-bottom: 10px solid #EEE;
}

.box{
    padding: 15px;
}
form label, form input{
    display: block;
    margin: 15px;
    font-size: 17px;
}
.message{
    padding: 15px;
    margin-bottom: 10px;
    background: #fff8cc;
}

.footer{
    background: #EEE;
    margin-top: 30px;
}


/* nice gov.uk buttons */
.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
  vertical-align: top;
}

.button:visited {
  background-color: #00823b;
}

.button:hover, .button:focus {
  background-color: #00692f;
}

.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}

.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #00823b;
}

.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
}

.button:link, .button:hover, .button:focus, .button:visited {
  color: #fff;
}

.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button:active:before {
  top: -10%;
  height: 120%;
}

.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
  }
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid #ffbf47;
}

.button[disabled="disabled"] {
  background: #00823b;
}

.button[disabled="disabled"]:focus {
  outline: none;
}
