{% extends "base.html" %}
{% block content %}
<div class="heading">
    <img class="avatar" src="{{ object.picture.url }}" />
    {{ object.name }}
</div>
<div class="box">
    <a class="button" href="/app/?human={{ object.id }}">Lauch the app</a>
</div>
<div class="heading">
    Connected services
</div>
{% for service in object.get_connected_services.values %}
<div class="list-item flex">
    <div>
        <img class="avatar" src="/static/icons/{{ service.key }}.png" />
    </div>
    <div>
        <strong>{{ service.name }}</strong><br/>
        {% if service.connected %}
        Connected
        {% else %}
        Not connected. <a href="/profile/{{ object.pk }}/services/{{ service.key }}/connect">Connect</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
