<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <title>humanbot {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/app.css" />
</head>
<body>

    <div class="container">
        <div class="header">
            <div class="logo">
                humanbot
            </div>
        </div>
        {% block content %}
        <p>
            We'll be with you in just a moment!
        </p>
        {% endblock %}
    </div>


</body>
</html>
